.hero {
  min-height: calc(100vh - 75px);
  background: #f5eee7;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 70px 8%;
  overflow: hidden;
}

/* LEFT SIDE */

.hero-content {
  max-width: 600px;
  animation: heroText 0.8s ease;
}

.hero-small-title {
  color: #c8102e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.hero h1 {
  color: #3b1717;
  font-family: Georgia, serif;
  font-size: clamp(48px, 6vw, 82px);
  line-height: 1;
  margin-bottom: 25px;
}

.hero-description {
  color: #5d4a43;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 35px;
}

/* BUTTONS */

.hero-buttons {
  display: flex;
  gap: 15px;
}

.order-btn,
.menu-btn {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.order-btn {
  background: #c8102e;
  color: white;
  border: 2px solid #c8102e;
}

.order-btn:hover {
  background: #a50d26;
  transform: translateY(-3px);
}

.menu-btn {
  background: transparent;
  color: #3b1717;
  border: 2px solid #3b1717;
}

.menu-btn:hover {
  background: #3b1717;
  color: white;
}

/* RIGHT SIDE */

.hero-image {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coffee-circle {
  width: min(420px, 80%);
  aspect-ratio: 1;

  border-radius: 50%;

  background:
    radial-gradient(circle at 50% 45%,
      #fff8ef 0%,
      #fff8ef 20%,
      #c58b62 21%,
      #8b4b2b 35%,
      #57291d 60%,
      #35150f 100%
    );

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 110px;

  box-shadow:
    0 35px 70px rgba(50, 20, 10, 0.25);

  animation: coffeeFloat 4s ease-in-out infinite;
}

/* ANIMATIONS */

@keyframes coffeeFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes heroText {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* MOBILE */

@media (max-width: 900px) {

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 25px;
  }

  .hero-content {
    max-width: 700px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image {
    width: 100%;
    margin-top: 50px;
  }

  .coffee-circle {
    width: 280px;
    font-size: 80px;
  }
}